<div class="col-md-8">
  <h1>New Event</h1>
</div>

<div class="container-fluid">
  <div class="col-md-8">
    <%= render 'form' %>
  </div>
</div>

<div class="col-md-8">    
  <h2>Import Events</h2>
    <%= form_tag import_events_path, multipart: true do %>
      <%= file_field_tag :file,{class: 'btn btn-default'} %>        
      <br>
      <%= submit_tag "Import",{class: 'btn btn-default'} %>
    <% end %>    
</div>

<div class="col-md-8">
  <br>
  <%= link_to 'Back', events_path,{class: 'btn btn-default'} %>
</div>