<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <% if @event.user.blank? %>
    <%= p " " %>
  <% else  %>
    <%= @event.user.first_and_last_name %>
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @event.image.url(:medium) %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @event.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @event.longitude %>
</p>

<%= link_to 'Edit', edit_event_path(@event),{class: 'btn btn-default'} %> |
<%= link_to 'Back', events_path,{class: 'btn btn-default'} %>
